html, body {
  height: 100%;
  margin: 0;
}



body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 2500px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;

}

.top-row,
.middle-row,
.bottom-row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.top-row {

  background-color: rgb(10, 57, 73);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.line {
  position: absolute;
  top: 55px;
  width: 35%;
  border: 2px solid rgb(199, 199, 199);
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 474px;
  margin-bottom: 85px;
}
.menu-title h1 {
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  top: 84px;
  font-size: 45px;
}
.text-box {
  font-family: sans-serif;
  position: absolute;
  color: #fff; /* White text */
  font-size: 1.2rem;
  text-align: center;
  max-width: 580px;
  /* padding: 20px; */
  line-height: 1.6;
  top: 180px;
}

.appetizers {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 225px;
}

.menu-item {
  font-family: sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.item-name {
  text-align: left;
}

.item-price {
  text-align: right;
}







.middle-row {

  background-color: rgb(249, 157, 157);
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.items1 {
  margin-top: -261px;
}

.mains {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  position: absolute;
  
  top: 20px;
  left: 46%;
}

.middle-bottom {
  position: relative;
}

.desserts {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  position: relative;
  top: 77px;
  left: 41.5%;
}


.menu-item1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 95px;

}

.item-name1 {
  text-align: left;
}

.item-price1 {
  text-align: right;
}
.item-price2 {
  text-align: right;

}
.menu-item2 {
  font-family: sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-weight: bold;
}






.bottom-row {

  background-color: rgb(177, 255, 177);

}