* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-700: rgba(0, 0, 0, 1);
  --neutral-hover: rgb(52, 52, 52);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px; /* optional, for visual alignment */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 207.244px;
  height: 30px;
  flex-shrink: 0;
}

.frame {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.first {
  display: flex;
  padding: 32px 0;
  align-items: center;
  gap: 5px;
}

.first p {
  color: var(--neutral-700, black);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second {
  display: flex;
  padding: 32px 0;
  align-items: center;
  gap: 5px;
}

.second p {
  color: var(--neutral-700, black);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.third {
  display: flex;
  padding: 32px 0;
  align-items: center;
  gap: 5px;
}

.third p{
  color: var(--neutral-700, black);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.right p {
  color: var(--neutral-700, black);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.getStarted-btn {
  display: flex;
  padding: 17px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--neutral-700, black);
  cursor: pointer;
}

.getStarted-btn:hover {
  background-color: var(--neutral-hover);
}

.section1 {
  display: flex;
  padding: 160px 40px 88px 40px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}
